services:
  backend:
    build: ./api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - FRONTEND_URL=http://3.151.21.145
      - MONGO=mongodb://mongo:27017/realestate
      - JWT_SECRET=eliteEstates

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: /api
        VITE_FIREBASE_API_KEY: AIzaSyC1LXost2evWSlUQwyYnE6_56-df2l2SVM
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=/api

  mongo:
    image: mongo

