name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 3.151.21.145
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd RealEstateApp
            git pull origin main
            docker compose up -d --build
